{
    "extends": ["@financial/eslint-config-fe/typescript"],
    "rules": {
        "no-console": "warn",
        "padding-line-between-statements": ["error", {"blankLine": "always", "prev": "*", "next": "return"}],
        "import/order": [
            "error",
            {
                "groups": ["external", "builtin", ["parent", "sibling"]],
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                },
                "newlines-between": "always"
            }
        ],
        "max-depth": ["error", 2],
        "react/react-in-jsx-scope": "off",
        "react/self-closing-comp": [
            "error",
            {
                "component": true,
                "html": true
            }
        ]
    }
}
